@model GarbageRemovals.ViewModels.ManagerVM

@{
    ViewData["Title"] = "Add Manager";
}

<h1>Add Manager</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddManager" class="card shadow p-4">
            <input asp-for="Manager.Id" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manager.Name" class="control-label"></label>
                <input asp-for="Manager.Name" class="form-control" />
                <span asp-validation-for="Manager.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager.Phone" class="control-label"></label>
                <input asp-for="Manager.Phone" class="form-control" />
                <span asp-validation-for="Manager.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager.Password" class="control-label"></label>
                <input asp-for="Manager.Password" class="form-control" />
                <span asp-validation-for="Manager.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager.Email" class="control-label"></label>
                <input asp-for="Manager.Email" class="form-control" />
                <span asp-validation-for="Manager.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager.AreaId" class="control-label"></label>
                <select asp-for="Manager.AreaId" class="form-control" asp-items="Model.AreaList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    @Html.Partial("ManagerList.cshtml",Model.Managers)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    window.onload = function () {
        var cookie = getCookie('manager');
        if (cookie == null) {
            window.location.href='/user/managerlogin';
        }
    }
</script>