<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GARBAGE | Log in</title>
    <link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/forntawasam.css" rel="stylesheet" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/js.cookie.min.js"></script>
</head>
<body class="hold-transition login-page">
    @RenderBody()
    @RenderSection("Scripts", required: false)
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/js/adminlte.js"></script>
    <script src="~/js/pages/dashboard.js"></script>
    <script src="~/js/demo.js"></script>
</body>
</html>
